/* CLASS Má»šI: .outline */
.outline li {
    display: inline-block;
    width: 350px;
    margin: 20px;
    margin-top: 0.5em;
    padding: 15px;
    min-width: 3em;
    text-align: center;
    background-color: #e0e0e0;
    color: #636363;
    border: 3px solid rgba(105, 105, 105, 0.644);
    border-radius: 20px;
    box-shadow: 0 0 10px 0px #33FFFF;
    font-size: 17px;
    cursor: pointer; 
}
.transform:hover {transform: scale(0.95); box-shadow: 0 0 7px 3px #00FFFF;}
html {position: relative;}
